.font-italic {
    font-style: italic!important;
}

.carousel-area {
    background-color: #e5eaf7;
    padding: 100px 0;
}

.carousel-indicators li {
    width: 20px;
    height: 20px;
    background-color: #7492ec;
    border-radius: 100%;
}

.carousel-item {
    background-color: #e5eaf7;
    height: 300px;
    width: 100%;
}

.carousel-inner p {
    color: #99aade;
}

.text-carousel {
    color: #7492ec;
}

.text-carousel p {
    color: #99aade;
}

.contact {
    padding: 50px 0;
    background-color: #fff;
}

footer.page-footer .footer-copyright {
    overflow: hidden;
    color: rgba(255, 255, 255, 0.6);
    background-color: #181818;
}

footer.page-footer {
    bottom: 0;
    color: white;
}

footer.page-footer a {
    color: #fff;
}

<<<<<<< HEAD
/* .icon {
    font-size: 20px;
    border-radius: 35px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    -o-border-radius: 35px;
    background-color: #365493;
    color: white;
} */
.fa-facebook-f {
=======
.fa-facebook-f,
.fb {
>>>>>>> 6f7e6c35ae00b55bebf05e442da363d619f2807c
    width: 30px;
    font-size: 20px;
    border-radius: 35px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    -o-border-radius: 35px;
    background-color: #365493;
    color: white;
}

<<<<<<< HEAD
.fa-twitter {
=======
.fa-twitter,
.tw {
>>>>>>> 6f7e6c35ae00b55bebf05e442da363d619f2807c
    width: 30px;
    font-size: 20px;
    border-radius: 35px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    -o-border-radius: 35px;
    background-color: #33ccff;
    color: white;
}

<<<<<<< HEAD
.fa-google-plus-g {
=======
.fa-google-plus-g,
.gg {
>>>>>>> 6f7e6c35ae00b55bebf05e442da363d619f2807c
    width: 30px;
    font-size: 20px;
    border-radius: 35px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    -o-border-radius: 35px;
    background-color: #d44132;
    color: white;
}

<<<<<<< HEAD
.fa-linkedin-in {
=======
.fa-linkedin-in,
.in {
>>>>>>> 6f7e6c35ae00b55bebf05e442da363d619f2807c
    width: 30px;
    font-size: 20px;
    border-radius: 35px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    -o-border-radius: 35px;
    background-color: #e61700;
    color: white;
}

