.navbar-dark .navbar-nav .nav-link {
    color: #7492ec;
}

.quoute-text {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.bg-grid,
.about {
    padding: 50px 0;
}


/* .icon {
    text-align: center;
    border: 5px solid white;
    width: 50px;
    height: 50px;
    font-size: 30px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
} */

.fa-hand-point-down {
    border: 5px solid white;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 30px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.card-text-a {
    padding: 15px;
}

.card-text-a,
.card-text1 {
    color: #fff;
}

.people {
    margin: 50px 0;
}

.people li {
    margin: 0 10px 10px 0;
}

.renewal {
    padding: 200px 0;
}

.col-logo {
    padding: 50px 0;
}

footer.page-footer .footer-copyright {
    overflow: hidden;
    color: rgba(255, 255, 255, 0.6);
    background-color: #181818;
}

footer.page-footer {
    bottom: 0;
    color: white;
}

footer.page-footer a {
    color: #fff;
}

.fa-facebook-f {
    width: 30px;
    font-size: 20px;
    border-radius: 35px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    -o-border-radius: 35px;
    background-color: #365493;
    color: white;
}

.fa-twitter {
    width: 30px;
    font-size: 20px;
    border-radius: 35px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    -o-border-radius: 35px;
    background-color: #33ccff;
    color: white;
}

.fa-google-plus-g {
    width: 30px;
    font-size: 20px;
    border-radius: 35px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    -o-border-radius: 35px;
    background-color: #d44132;
    color: white;
}

.fa-linkedin-in {
    width: 30px;
    font-size: 20px;
    border-radius: 35px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    -o-border-radius: 35px;
    background-color: #e61700;
    color: white;
}