.logoheader {
    font-size: 13px;
}

.quoute-text .row {
    padding: 30px 0;
}

.wandcar,
.wheel {
    margin: 100px;
    line-height: 2;
}

.first {
    z-index: 0;
}

i {
    background-color: deepskyblue;
}

.not-img {
    background-color: green;
    width: 100%;
}

footer.page-footer .footer-copyright {
    overflow: hidden;
    color: rgba(255, 255, 255, 0.6);
    background-color: #181818;
}

footer.page-footer {
    bottom: 0;
    color: white;
}

footer.page-footer a {
    color: #fff;
}

footer.page-footer .text-uppercase {
    margin-top: 20px;
}

.fa-facebook-f {
    width: 30px;
    font-size: 20px;
    border-radius: 35px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    -o-border-radius: 35px;
    background-color: #365493;
    color: white;
}

.fa-twitter {
    width: 30px;
    font-size: 20px;
    border-radius: 35px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    -o-border-radius: 35px;
    background-color: #33ccff;
    color: white;
}

.fa-google-plus-g {
    width: 30px;
    font-size: 20px;
    border-radius: 35px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    -o-border-radius: 35px;
    background-color: #d44132;
    color: white;
}

.fa-linkedin-in {
    width: 30px;
    font-size: 20px;
    border-radius: 35px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    -o-border-radius: 35px;
    background-color: #e61700;
    color: white;
}