.carousel-area {
    background-color: red;
    padding: 100px 0;
}

.carousel-item {
    background-color: red;
    height: 400px;
    width: 100%;
}

.carousel-indicators li {
    width: 20px;
    height: 20px;
    background-color: rgb(100, 96, 96);
    border-radius: 100%;
}

.carousel-indicators .active {
    background-color: black;
}