.bg-grid .col-sm {
    border: 1px solid rgb(255, 230, 0);
    background-color: white;
    margin: 15px;
    width: 374px;
}

.bg-grid {
    padding: 50px;
}

.number,
.fa-book-open {
    color: rgb(255, 230, 0);
}

.imga {
    margin: 100px auto;
}


/* .col-md-4 {
    padding-left: 0px !important;
}

.col-md-4 {
    padding-right: 0px !important;
} */

.col-md-4 .c {
    padding-left: 0px !important;
}

.carousel-area {
    background-color: #fff;
    padding: 100px 0;
}

.carousel-item {
    background-color: #fff;
    height: 400px;
    width: 100%;
}

.carousel-indicators li {
    width: 20px;
    height: 20px;
    background-color: rgb(100, 96, 96);
    border-radius: 100%;
}

.carousel-indicators .active {
    background-color: black;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
    font-size: 20px;
}

.card-img-overlay {
    position: absolute;
    text-align: center;
    padding: 300px 0;
}

.nav-header {
    position: absolute;
    width: 100%;
    z-index: 1;
}

.about {
    margin: 20px;
}

.about .col-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 40%;
}

.about .col-5 {
    /* padding: 10px 0 0 40px; */
    padding: 50px 0 0 50px;
}

.fa-star {
    color: orange;
}

.input-about {
    font-size: 16px;
    font-style: italic;
    width: 50%;
    margin: auto;
}

section.menu {
    background-image: url("../img/sec-menu.png");
}

section.sec-contact {
    position: relative;
    padding: 100px 0;
    z-index: 999;
    background-image: url("../img/sec-contact.png");
    background-repeat: repeat;
    background-position: center;
}

#sec-contact .form-control {
    border: 2px solid #6e6e6e;
    border-radius: 0;
    margin-top: 30px;
    background: transparent;
    color: #ffffff;
}

::-webkit-input-placeholder {
    /* Edge */
    color: #ffffff;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #ffffff;
}

.sec-contact .form-control::placeholder {
    color: #ffffff;
}

.sec-contact .form-control::placeholder {
    color: #ffffff;
}

.btn-send {
    background: #f6cb86;
    width: 200px;
    height: 50px;
    margin: 20px auto;
    line-height: 50px;
    color: #6d5227;
}

.map-container {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.map-container iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

footer.page-footer .footer-copyright {
    overflow: hidden;
    color: rgba(255, 255, 255, 0.6);
    background-color: #181818;
    font-size: 10px;
}

footer.page-footer {
    bottom: 0;
    color: white;
    font-size: 10px;
}

footer.page-footer a {
    color: #fff;
    font-size: 10px;
}

footer.page-footer .text-uppercase {
    margin-top: 20px;
    font-size: 10px;
}

.fa-facebook-f {
    width: 30px;
    font-size: 20px;
    border-radius: 35px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    -o-border-radius: 35px;
    background-color: #365493;
    color: white;
}

.fa-twitter {
    width: 30px;
    font-size: 20px;
    border-radius: 35px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    -o-border-radius: 35px;
    background-color: #33ccff;
    color: white;
}

.fa-google-plus-g {
    width: 30px;
    font-size: 20px;
    border-radius: 35px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    -o-border-radius: 35px;
    background-color: #d44132;
    color: white;
}

.fa-linkedin-in {
    width: 30px;
    font-size: 20px;
    border-radius: 35px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    -o-border-radius: 35px;
    background-color: #e61700;
    color: white;
}